{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-bottom:350px;">
    <h1>ToDo List Login</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login Form</div>

                <div class="card-body">
                    <form action="/login" method="POST">
                        <input type="hidden" name="login_csrf_token" value="{{ csrf_token() }}" />
                        {{ form.hidden_tag() }}

                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right">メールアドレス</label>

                            <div class="col-md-6">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control is-invalid") }}
                                    {% for errors in form.email.errors %}
                                        <span style="color: #ff0000;">{{ errors }}</span>
                                    {% endfor %}
                                {% else %}
                                    {{ form.email(class="form-control", placeholder='メールアドレス') }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">パスワード</label>

                            <div class="col-md-6">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control is-invalid") }}
                                    {% for errors in form.password.errors %}
                                        <span style="color: #ff0000;">{{ errors }}</span>
                                    {% endfor %}
                                {% else %}
                                    {{ form.password(class="form-control", placeholder='パスワード') }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}