<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/c37247b91b.js"></script>
  <link rel="icon" href="favicon.png" type="image/png">
  <title>405 Method Not Allowed</title>
  <style>
    .error-wrap {
      padding: 5px 20px;
      border: 1px solid #dcdcdc;
      display: inline-block;
      box-shadow: 0px 0px 8px #dcdcdc;
    }
    h1 { font-size: 18px; }
    p { margin-left: 10px; }
  </style>
</head>
<body>
  <div class="error-wrap">
    <section>
      <h1>405 Method Not Allowed</h1>
      <p>Your request method is not allowed.</p>
    </section>
  </div>
  <br>
  <br>
  <p><a href="/" class="btn btn-info">一覧に戻る</a></p>
</body>
</html>
