{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>ToDo List</h1>

    <table class="table table-hover table-responsive">
        <tr>
            <th>Last Update</th>
            <th style="width:200px;">Title</th>
            <th></th>
        </tr>
        {% for task in allTask %}
        <div class="row">
            {% if task.commit == 1 %}
            <tr style="background-color:#a9a9a9;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ task.date }}</td>
                <td>{{ task.title }}</td>
                <td><a href="/show/{{ task.id }}" class="btn btn-success far fa-file-alt">詳細</a></td>
            </tr>
        </div>
        {% endfor %}
    </table>
    <p>
        <a href="/new" class="btn btn-primary far fa-file">新規作成</a>
        <form action="/delete/allcomplete" method="POST">
            <input type="submit" class="btn btn-danger complete-task-dell fas fa-trash-alt" value="完了済みをすべて削除する">
            <input type="hidden" name="allcomplete_delete_csrf_token" value="{{ csrf_token() }}" />
        </form>
        <div style="margin-top:15px;"><a href="/user/create" class="btn btn-primary far fa-user">ユーザー作成</a><div>
        <div style="margin-top:15px;">
            <form action="/logout" method="POST">
                <input type="submit" class="btn btn-danger logout-user fas fa-trash-alt" value="ログアウト">
                <input type="hidden" name="login_csrf_token" value="{{ login_token }}" />
            </form>
        </div>
    </p>
</div>
<script>
    $(function () {
        $(".complete-task-dell").click(function () {
            if (confirm("完了済みの項目を全て削除します。よろしいですか？")) {
                // そのまま削除を実行
            }
            else {
                return false;
            }
        });

        $(".logout-user").click(function () {
            if (confirm("ログアウトします。よろしいですか？")) {
                // そのまま削除を実行
            }
            else {
                return false;
            }
        });
    });
</script>
{% endblock %}