{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>ToDo</h1>

    <table class="table table-hover table-responsive">
        <tr>
            <th>Last Update</th>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for task in allTask %}
        <div class="row">
            <tr>
                <td>{{ task.date }}</td>
                {% if task.commit == 1 %}
                <td><del>{{ task.title }}</del></td>
                {% else %}
                <td>{{ task.title }}</td>
                {% endif %}
                <td><a href="/show/{{ task.id }}" class="btn btn-success far fa-file-alt"> 詳細 </a></td>
                <td><a href="/complete/{{ task.id }}" class="btn btn-info fas fa-check-circle"> 完了にする </a></td>
                <td><a href="/incomplete/{{ task.id }}" class="btn btn-success fas fa-undo-alt"> 未完了にする </a></td>
            </tr>
        </div>
        {% endfor %}
    </table>
    <p>
        <a href="/new" class="btn btn-primary far fa-file"> 新規作成 </a>
        <a href="/delete/allcomplete" class="btn btn-danger fas fa-trash"
            onclick="return confirm('完了済みの項目を全て削除します。よろしいですか？')"> 完了済みをすべて削除 </a>
    </p>
</div>
{% endblock %}