{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="/update_confirm/{{ task.id }}" method="POST">
        <div class="form-group">

            <label for="title">ToDo</label><br>
            <input type="text" name="title" value="{{ task.title }}" class="form-control">

        </div>
        <div class="form-group">

            <label for="content">詳細</label><br>
            <textarea name="content" cols="40" rows="10" class="form-control">{{ task.content }}</textarea>

        </div>
        <button type="submit" class="btn btn-primary">確認</button>
        <button type="button" class="btn btn-danger" onclick="history.back()">キャンセル</button>
    </form>
</div>
{% endblock %}