{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="/create_confirm" method="POST">
        <div class="form-group">

            <label for="title">ToDo</label>
            <input type="text" name="title" value="" class="form-control" placeholder="登録したいタスクを入力してください。">

        </div>
        <div class="form-group">

            <label for="content">備考</label>
            <textarea class="form-control" name="content" cols="40" rows="10"
                placeholder="詳細な情報を入力してください。"></textarea>

        </div>

        <button type="submit" class="btn btn-primary">確認</button>
        <a class="btn btn-danger" href="{{url_for('.index')}}">キャンセル</a>

    </form>
</div>
{% endblock %}